 
<configuration>
  <connectionStrings>
    <add name="myteachConnectionString" connectionString="server=127.0.0.1;user id=root;password=03112002;database=myteach"
      providerName="MySql.Data.MySqlClient" />
    <add name="myteachConnectionString2" connectionString="server=127.0.0.1;user id=root;password=03112002;database=myteach"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />

    <pages validateRequest="false" /> 
  </system.web>

  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="AtendeClienteServiceSoapBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="AtendeClienteServiceSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://apps.correios.com.br/SigepMasterJPA/AtendeClienteService/AtendeCliente"
        binding="basicHttpBinding" bindingConfiguration="AtendeClienteServiceSoapBinding"
        contract="BuscadoCorreio.AtendeCliente" name="AtendeClientePort" />
    </client>
  </system.serviceModel>
</configuration>